.timer_page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer_page_innerbox {
  width: 1100px;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

/* 타이머 박스 CSS */
.timer_box {
  width: 566px;
  height: 330px;
  position: relative;
  border-radius: 17.713px;
  background: rgba(255, 63, 63, 0.85);
  overflow: hidden;
  margin-bottom: 36px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.timer_top_area {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  position: relative;
}

.timer_mode_area {
  color: white;
  font-weight: 800;
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0, -50%);
}

.state_btn_box {
  height: 38px;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 60%;
  padding: 5px 0;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background-color: rgba(210, 210, 210, 0.3);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.state_btn {
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  width: 50px;
  height: 28px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.full_screen_mode_btn {
  color: white;
  font-weight: 800;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
}

.timer_area {
  color: white;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.select_to-do {
  font-size: 32px;
}

.timer {
  font-family: "Nanum", monospace;
  font-style: normal;
  font-size: 115px;
  font-weight: 800;
  text-align: center;
  font-variant-numeric: tabular-nums;
}
.control_timer_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control_btn {
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: rgba(255, 63, 63, 0.85);
  border: none;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: all 0.3s ease;
}

.control_btn:hover {
  background-color: rgba(210, 210, 210, 1);
}
.control_timer_box > .control_btn:nth-child(2) {
  margin-left: 70px;
}
/* 할 일 목록 박스 CSS */
.todo_list_box {
  width: 566px;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.04);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_area {
  background-color: rgba(217, 217, 217, 0.34);
  width: 100%;
  height: 40px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_list_btn {
  position: absolute;
  top: 10px;
  right: 11px;
  cursor: pointer;
}

.list_area {
  width: 100%;
  height: 290px;
  padding: 2% 0;
  box-sizing: border-box;

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list_area > div:not(:last-child) {
  margin-bottom: 10px;
}

/* 타임라인 css */
.focus_time_and_timeline_section {
  width: 335px;
  height: 700px;
  border-radius: 0;
}

.total_focus_time_box {
  box-sizing: border-box;
  background-color: dodgerblue;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.time_line_box {
  border-radius: 0;
  background-color: white;
  width: 100%;
  height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.time_line_inner_box {
  border-radius: 0;
  border-left: 1px solid black;
  width: 90%;
  margin-top: 15px;
}

/* 모달창 */
.modal_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background-color: white;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
  overflow: hidden;
  display: none;
}
.modal_inner_box {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal_title {
  position: absolute;
  height: 20%;
  width: 100%;
  font-size: large;
  box-sizing: border-box;
  padding-left: 5%;
  display: flex;
  align-items: center;
  background-color: beige;
  top: 0;
}

.input_box {
  width: 80%;
  height: 30px;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0;
  outline: none;
  font-size: 15px;
}

.input_box#minuites {
  border-bottom: none;
  background-color: beige;
  width: 15%;
}

.button_box {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 5%;
}

.button_inner_box {
  width: 100%;
  height: 100%;
  position: relative;
}

#delete_and_save_btns {
  display: inline-block;
  position: absolute;
  width: 150px;
  right: 10px;
}

.button_box button {
  width: 70px;
  height: 40px;
  background-color: white;
  border: 1px solid;
}

#close_btn {
  margin-left: 7px;
}

#delete_btn {
  position: absolute;
  left: 5%;
  border: none;
  font-weight: 700;
  width: 70px;
  height: 40px;
  transition: all 0.5s ease;
}

#delete_btn:hover {
  background-color: rgba(210, 210, 210, 0.3);
}
