.todo_list {
  width: 90%;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease;
  border-radius: 3px;
  cursor: pointer;
}

.todo_list:hover {
  background-color: rgba(210, 210, 210, 0.4);
}

.check_box {
  width: 5%;
  height: 100%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check_box > input {
  width: 16px;
  height: 16px;
}

.list_box {
  flex-grow: 1;
}

.list {
  display: inline-block;
  height: 100%; /* 높이 설정 */
  position: relative;
}

.edit_btn {
  margin-left: 2%;
}

.line {
  position: absolute;
  top: 43%;
  width: 99%;
  height: 1.2px;
  background-color: rgba(0, 0, 0, 0.2);
}
